name: Descargar y extraer archivo .gz

on:
  schedule:
    - cron: '0 */2 * * *'  # Cada 2 horas
  workflow_dispatch:       # Ejecución manual

jobs:
  download-and-extract:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Descargar archivo .gz
      run: |
        curl -L "https://epgshare01.online/epgshare01/epg_ripper_ALL_SOURCES1.xml.gz" -o archivo.gz

    - name: Extraer archivo
      run: |
        gunzip -f archivo.gz  # produce 'archivo'
        
    - name: Verificar si el archivo cambió
      id: compare
      run: |
        if [ -f archivo ]; then
          if [ -f ./archivo ]; then
            if cmp -s archivo ./archivo; then
              echo "No hay cambios en el archivo."
              echo "changed=false" >> $GITHUB_OUTPUT
            else
              echo "El archivo ha cambiado."
              mv archivo ./archivo
              echo "changed=true" >> $GITHUB_OUTPUT
            fi
          else
            echo "No había archivo anterior. Guardando nuevo."
            mv archivo ./archivo
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
        else
          echo "Error: El archivo no fue extraído correctamente"
          exit 1
        fi



    - name: Commit y push si cambió el archivo
      if: steps.compare.outputs.changed == 'true'
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add archivo
        git commit -m "Actualizar archivo descargado automáticamente"
        git push
